
<!doctype html>


<title>个人手记</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}">
<div class="page">
    <h1>我的手记</h1>
    <div class="metanav">
        {% if session.get('logined_in') %}
            <a href="{{ url_for('logout')}}">登出</a>
            <a href="{{ url_for('init') }}">清空记录</a>
            {% else %}
            <a href="{{ url_for('login')}}">登录</a>
        {% endif %}


    </div>
    {% for msg in get_flashed_messages() %}
        <div class="flash">
            {{ msg }}
        </div>
    {% endfor %}

    {% block body %}

    {% endblock %}
</div>
