{% extends "layout.html" %}
{% block body %}

    {% if session.logined_in %}
        <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
            <dl>
                <dt>Title:</dt>
                <dd><input type="text" size="35" name="title"></dd>
                <dt>Text:</dt>
                <dd><textarea  rows="5" cols="40" name="content"></textarea></dd>
                <dd><input type="submit" value="发表" id="mybtn"></dd>
            </dl>
        </form>
    {% endif %}






    <ul class="entries">
        {% for entry in entries %}
<li>
<a>{{ entry.title }}</a>&nbsp;<a href="#">修改</a>&nbsp;&nbsp;<a href="#">删除文章</a><br>
<!-- {{ entry.createtime}}&nbsp;<a href="#">修改内容</a> -->
</li>
            {% else %}
            <li><em>你当前还没有创建过任何文章.</em></li>
        {% endfor %}
        
    </ul>
{% endblock %}
